<label class={{@input-label-class}}>
  {{@label}}
  <input
    class={{@input-class}}
    type={{@type}}
    placeholder={{@placeholder}}
    value={{@value}}
    onInput={{this.onChange}}
  />
  {{yield}}
</label>