<div class="horz-center pad20 text-center ">
    {{page-title "EditTodo"}}
    <TodoItem @headerText="Edit todo item" @type="EDIT" @index={{this.index}}>
        
    </TodoItem>

    {{!-- <div>
        Edit todo item
        <div>
            <br>
            {{#if this.index}}
            <Input @type="text" placeholder="First Name" @value={{this.listItem.header}}
                @onChange={{this.modifyFirstName}}></Input>
            <Input @type="text" placeholder="Last Name" @value={{this.listItem.description}}
                @onChange={{this.modifyLastName}}></Input>
            {{/if}}
            {{outlet}}
            <br>
        </div>
        <div class="horz-center pad20 justify-space-between">
            <Button @onClick={{this.save}}>Save</Button>
            <Button @onClick={{this.saveAndBack}}>Save and Go back</Button>
        </div>
    </div> --}}
</div>