{{page-title "TodoList"}}
<div class="pad20">
    <div class="todo-bar">
        <div>
            Todo List
        </div>
        
        <div>
            <Button><LinkTo @route="add-todo">+ Add Todo</LinkTo></Button>
        </div>
    </div>
    {{#if this.getTodos}}
    <table class="table ">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each this.getTodos as |item index|}}
            <tr>
                <td>
                    {{item.firstName}}
                </td>
                <td>
                    {{item.lastName}}
                </td>
                <td>
                    <Button @onClick={{fn this.modifyTodo index}}>Edit</Button>
                </td>
                <td>
                    <Button @onClick={{fn this.deleteTodo index}}>Delete</Button>
                </td>
            </tr>


            {{/each}}
        </tbody>
    </table>
    {{else}}
    <hi>blank</hi>
    {{/if}}
</div>

{{outlet}}